html,body {
    margin: 0; padding: 0;
    width:100%;
    background-color:whitesmoke;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 16px;color: #333333;


}

#banner{
   width:100%;
   height:50px;
   background-color:white;
  
   position:fixed;
   top:0px;

z-index:1;
}

#bhome{
   width:6%;
   height:47px;
   float:left;
    margin-left:8%;
   outline:none;
     
}
#bhome-line{
   width:100%;
   height:3px;
   float:left;
    
  
     
}
button{
   background-color:white;
    border:none;
    outline: none;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 14px;color: #666666;
     font-weight:bold;
}

#person-profile{
 margin-top:4%;
   width:18%;
   height:230px;
   float:left;
   margin-left:9%;
   background-color:white;
  
}#pprofile_ban{
   width:100%;
   height:110px;
   float:left;
   background-color:dodgerblue;
  
}
 #pprofile-picture{
   width:30%;
   height:70px;
   float:left;
   border-radius:50%;
   margin-left:32%;
   margin-top:14%;
   background-image:url("/picture/timg.jpg");
}
 
 #btweetsname{
   margin-top:4%;
   width:40%;
   height:25px;
   float:left;
   margin-left:28%;
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 21px;
    font-weight:bold;
  
  
}
 #Tweetsbuttonname{
   margin-top:6%;
   width:100%;
   height:25px;
   float:left;
  color:#000000;
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 21px;
    font-weight:bold;
  
  
}
 
 #pprofile-buttons{
   margin-top:6%;
   width:91.5%;
   height:50px;
   float:left;
   margin-left:4%;
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 21px;
   font-weight:bold;

  
  
}
 #btweets{
   width:22%;
   height:50px;
   float:left;
    margin-left:1.6%;
    margin-top:1.3%;

      color:dodgerblue;
}

#btweets-number{
   width:50%;
   height:23px;
   float:left;
    margin-left:22%;
   font-weight:bold;
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 20px;
 
     
}
#bfollowing{
   width:30%;
   height:50px;
   float:left;
     margin-top:1.3%;
      margin-left:8%;
   
     
}
#bfollowing-number{
   width:3%;
   height:20px;
   float:left;
    margin-left:40%;
  font-weight:bold;
   color:dodgerblue;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 20px;
     
}
#bfollowers{
   width:30%;
   height:50px;
   float:left;
    margin-left:8%;
    margin-top:1.3%;
  
     
}
#bfollowers-number{
   width:10%;
   height:20px;
   float:left;
    margin-left:43%;
  font-weight:bold;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 20px;
     color:dodgerblue
}
#person-contentroom{
    margin-top:4%;
   width:40%;
   height:50px;
  background-color:white;
   float:left;
   margin-left:1%;
  
}

#personcont-titlebar{
   
   width:100%;
   height:140px;
 border-bottom-color:#E0E0E0;
 border-top-color:#E0E0E0;
 border-bottom-style:solid;
 border-bottom-width:1px;
 border-top-width:1px;
 border-top-style:solid;
   float:left;
   background-color:#F0FFFF;
 
   
  
}

#personcont-titlevedixbar{
   
   width:12%;
   height:100%;
 
   float:left;
 
 
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 18px;
    font-weight:bold;
  
}
#person-content-txt{
   
   width:88%;
   height:100px;
 
   float:left;
  
   
   
  
}
#txtmul{
    border-radius:10px;
    margin-top:2%;
    width:96%;
   height:80%;
   
}
#txtbuttonbar{
   
   width:88%;
   height:40px;
 
   float:left;
  
 
  
}
#pprofile-picture1{
   width:50%;
   height:38px;
   float:left;
   border-radius:50%;
   margin-left:45%;
   margin-top:14%;
   background-image:url("/picture/timg.jpg");
}
#txtmul{
   width:96.5%;
   height:80px;
   float:left;
 
   margin-left:0%;
   margin-top:1.5%;
   border-color:lightcyan;
 
  
}
#ToFollow{
   width:15%;
   height:35px;
   float:left;
    margin-left:83%;
    margin-top:-0.3%;
  
   
     
}
#ToFollowsbutton{
    width:100%;
   height:100%;
    border-radius:18px;
   background-color:dodgerblue;
   color:white;
   border-color:dodgerblue;
   border-style:solid;
    
   
     
}
#person-content-fly{
   
   width:100%;
   height:200px;
 
   float:left;
  
   
  
}
#rightroom{
    margin-top:4%;
   width:20%;
   height:300px;
   float:left;
   margin-left:1%;
   background-color:white;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 25px;
}

