html,body {
    margin: 0; padding: 0;
    width:100%;
    background-color:whitesmoke;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 16px;color: #333333;


}

#banner{
   width:100%;
   height:50px;
   background-color:white;
  
   position:fixed;
   top:0px;

z-index:1;
}

#bhome{
   width:6%;
   height:47px;
   float:left;
    margin-left:8%;
   outline:none;
     
}
#bhome-line{
   width:100%;
   height:3px;
   float:left;
    
  
     
}
button{
   background-color:white;
    border:none;
    outline: none;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 14px;color: #666666;
     font-weight:bold;
}
#person-banner{
   width:100%;
   height:120px;
   background-color:dodgerblue;
 position:fixed;
   top:50px;

z-index:1;
    
  
}
#personbar-information{
   width:100%;
   height:70px;
   
   background-color:white;
   position:fixed;
   top:170px;

z-index:1;
   
}
#personbar-picture{
   width:3%;
   height:45px;
   float:left;
   border-radius:50%;
   margin-left:9%;
   margin-top:0.80%;
   background-image:url("/picture/timg.jpg");
}
#personbar-name{
   width:6%;
   height:27px;
   float:left;
    margin-left:3%;
    margin-top:1.55%;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 21px;
    font-weight:bold;
   
     
}
#btweets{
   width:6%;
   height:50px;
   float:left;
    margin-left:8.6%;
    margin-top:1.3%;

     
}

#btweets-number{
   width:10%;
   height:20px;
   float:left;
    margin-left:43%;
   font-weight:bold;
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 20px;
 
     
}
#btweets-line{
   width:100%;
   height:3px;
   float:left;
    
  
     
}
#bfollowing{
   width:6%;
   height:50px;
   float:left;
    margin-left:4%;
    margin-top:1.3%;
     
}
#bfollowing-number{
   width:10%;
   height:20px;
   float:left;
    margin-left:43%;
  font-weight:bold;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 20px;
     
}
#bfollowing-line{
   width:100%;
   height:3px;
   float:left;
    
  
     
}
#bfollowers{
   width:6%;
   height:50px;
   float:left;
    margin-left:4%;
    margin-top:1.3%;
     
}
#ToFollow{
   width:4%;
   height:50px;
   float:left;
    margin-left:30.8%;
    margin-top:0.8%;
   
   
     
}
#ToFollowsbutton{
    width:100%;
   height:50px;
    border-radius:50%;
   background-color:white;
   color:dodgerblue;
   border-color:dodgerblue;
   border-style:solid;
    
   
     
}

#bfollowers-number{
   width:10%;
   height:20px;
   float:left;
    margin-left:43%;
  font-weight:bold;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 20px;
     
}
#bfollowers-line{
   width:100%;
   height:3px;
   float:left;
    
  
     
}
#person-profile{
   margin-top:17%;
   width:20%;
   height:300px;
   float:left;
   margin-left:9%;
   background-color:white;
  
}#pprofile_ban{
   width:100%;
   height:123px;
   float:left;
   background-color:dodgerblue;
  
}
 #pprofile-picture{
   width:30%;
   height:70px;
   float:left;
   border-radius:50%;
   margin-left:32%;
   margin-top:14%;
   background-image:url("/picture/timg.jpg");
}
 
 #pprofile-name{
   margin-top:6%;
   width:40%;
   height:25px;
   float:left;
   margin-left:32%;
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 21px;
    font-weight:bold;
  
  
}
 #pprofile-statement{
   width:55%;
   height:25px;
   clear:both;
   float:left;
   margin-top:3%;
    margin-left:33%;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 15px;color: #666666;
}
 #pprofile-location{
  
   width:25%;
   height:25px;
   clear:both;
   float:left;
   margin-top:3%;
   margin-left:39%;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 15px;color: #666666;
}
 #pprofile-date{
 
   width:70%;
   height:25px;
   clear:both;
   float:left;
   margin-top:3%;
   margin-left:25%;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 15px;color: #666666;
}
#person-contentroom{
    margin-top:17%;
   width:40%;
   height:50px;
  background-color:white;
   float:left;
   margin-left:1%;
  
}

#personcont-titlebar{
   
   width:100%;
   height:50px;
 border-bottom-color:#E0E0E0;
 border-top-color:#E0E0E0;
 border-bottom-style:solid;
 border-bottom-width:1px;
 border-top-width:1px;
 border-top-style:solid;
   float:left;
 
   
  
}

#personcont-title{
   
   width:12%;
   height:25px;
 margin-left:3%;
   float:left;
 
  margin-top:3%;
   font-family:Trebuchet MS, Arial, Helvetica;font-size: 18px;
    font-weight:bold;
  
}
#person-content-fly{
   
   width:100%;
   height:200px;
 
   float:left;
  
   
  
}

#tou{
   
   width:15%;
   height:200px;
 
   float:left;
   
  
}

#toua{
   
   width:60%;
   height:50px;
 
   float:left;
   border-radius:50%;
   background-image:url("/picture/timg.jpg");
   margin-left:13%;
   margin-top:20%;
   
  
}
#tettitle{
   
   width:85%;
   height:40px;
   float:left;
   
  
}
#mingc{
   
   width:15%;
   height:20px;

   float:left;
   margin-top:2%;
   margin-left:0.3%;
   
  
}
#riqi{
   
   width:35%;
   height:20px;

   float:left;
    margin-top:2%;
  
}
#tettext{
   
   width:80%;
   height:120px;
 margin-left:1%;
   float:left;
   background-color:red;
   
  
}
#tetbotom{
   
   width:85%;
   height:40px;
 
   float:left;
   
  
}
#lib{
   
   width:7%;
   height:27px;
 
   float:left;
   margin-top:1%;
   
  
}
#shuzi3{
   
   width:2%;
   height:20px;
  
   float:left;
   margin-top:1.8%;
   margin-left:1%;
   
  
}

#rightroom{
    margin-top:17%;
   width:20%;
   height:300px;
   float:left;
   margin-left:1%;
   background-color:white;
    font-family:Trebuchet MS, Arial, Helvetica;font-size: 25px;
}
